@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #FFA770;
}

.boton__bars i {
    color: #FF731B;
}

.nav__titulo {
    font-weight: 600;
    font-family: "Orbitron";
    color: #FF731B;
    font-size: 26px;
}
.nav__titulo:hover {
    color: #FFA770
}



.nav__link{
    text-decoration: none;
    color: #FF731B;;
    font-size: 18px;
    font-weight: 500;
    margin: 0 15px;
}
.nav__link:hover {
    color: #FFA770;
    
}

.saludando {
    margin-top: 50px;
    text-align: center;
    font-family: "Orbitron";
    font-weight: 700;
    font-size: 52px;
}

.navbar__container {
    background-color: #1B1918;
}