@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #FFF;
}

.boton__bars i {
    color: #0F81B1;
}

.nav__titulo {
    font-weight: 700;
    font-family: "Orbitron";
    color: #0F81B1;
    font-size: 26px;
}
.nav__titulo:hover {
    color: #52A5C9;
}



.nav__link{
    text-decoration: none;
    color: #0F81B1;
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px;
    letter-spacing: 1px;

}
.nav__link:hover {
    color: #000;
   
    
}
.icon__cart{
    position: relative;
    color: #0F81B1;
}

.icon__units{
    font-size: 12px;
    position: absolute;
}

.navbar__container {
    background-color: #fff;
    border-bottom: 3px solid #0F81B1;
    
}
.count__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.count__container-cant{
    margin: 12px 15px;
}
.count {
    padding: 0px 2px 2px;
    font-size: 18px;
    color: #0F81B1;
    background-color: transparent;
    border: none;
}

.count__total {
    padding: 0 5px;
    font-size: 16px;
    font-weight: 600;
}

.generic-button, .generic-link {
    background-color: #0F81B1;
    border: 2px solid #309DD8;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 14px;
    border-radius: 4px;
    color: #FFF;
    transition: .2s;
    transition-delay: .1s;
    
}
.generic-button:hover {
    background-color: #309DD8;
}
.generic-link {
    text-decoration: none;
}
.generic-link:hover {
    color: #000;
}


/* -- productos -- */


.item__card {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 16px 0px #a3a3a3;
    margin-top: 16px;
}

.item__img {
margin-top: 16px;
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.item__name {
    margin-top: 16px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    
}
.item__price{
    margin-top: 15px;
    font-size: 14px;
}
.item__detalle{
    margin: 16px 0;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    color: #0F81B1;
    transition: .3s;
}
.item__detalle:hover{
    color: #000;
}

@media (min-width:992px) {
    .item__card {
        padding: 8px;
        margin: 16px;
        
    }
}

/* Detail */

.detail__container {
    width: 70%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    padding: 32px;
    
    border-radius: 5px;
    
    
}
.detail__img {
    margin: 0px;
    border-right: 3px solid #ccc ;
    border-radius: 8px;
    
}
.detail__img img {
    width: 515px;
    height: 515px;
    object-fit: contain;
}

.detail__text {
   margin: 0 50px;

  
}
.detail__text-marca{
    color: #0F81B1;
}   
.detail__text-nombre{
    font-family: "Orbitron";
}  
.detail__text-precio, .detail__text-marca,.detail__text-nombre{
    font-weight: 600;
    letter-spacing: 1px;
    margin: 16px auto;
}  
.span__container{
    display: flex;
    align-items: center;
    margin: 0;
}
.span__stock {
    margin: 0 16px;
    font-size: 18px;
    font-weight: 500;
}
.detail__text-pagos{
    font-weight: 600;
    font-size: 16px;
    margin: 16px auto;
}
.detail__text-unidades{
    font-weight: 600;
    letter-spacing: 1px;
    margin: 16px auto;
    font-size: 16px;
} 

.pagos__container {
    margin: 16px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.pagos__container img {
    width: 40px;
    height: 25px;
    margin: 4px 5px;
    border: 1px solid #a3a3a388;
}
.detail__text-envio{
    font-weight: 600;
    letter-spacing: 1px;
    margin: 16px auto;
    color: #0F81B1;
    font-size: 16px;
}
.detail__text-envio i {
    font-size: 26px;
    color: #262626;
    margin: 0 8px;
}

.loading__container{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0F81B1;
}


/*    --- Cart ---    */
.cart__sinProd{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__cart{
    width: 80%;
    margin: 32px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    
}

.cart__container{
    text-align: end;
}
.prod__container{
    margin: 16px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 16px;
    box-shadow: 0 0 10px 0px #a6a6a6;
    border-radius: 4px;
    position: relative
}
.prod__container-img,.prod__container-nombre,.prod__container-precio,.prod__container-stock{
    margin: 0 15px;
}
.prod__container-img{
    padding: 5px;
    height: 60px;
    width: 60px;
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid #0F81B1;
}
.prod__container-delete{
    font-size: 11px;
    padding: 6px;
    border: none;
    color: #0F81B1;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}

.prod__container-precio,.prod__container-stock{
    font-size: 14px;
}

.prod__container-nombre{
    font-family: "Orbitron" ;
    font-size: 16px;
}

.cart__clear{
    font-size: 13px;
    margin-top: 5px;
    padding: 10px;
    border: none;
    color: #0F81B1;
    background-color: transparent;
   
}

.resumen__compra {
    
    padding: 0 16px;
    
}
.resumen__titulo,.resumen__precio,.resumen__envio{
    font-size: 18px;
    margin: 16px 0;
}
.fin__compra{
    text-decoration: none;
    color: #000;
}
/*  --- Form ---    */

.fin__compra-container {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form__compra{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form__compra input {
    margin: 6px 0;
    padding: 6px 16px;
    outline: none;
    border: 2px solid #0F81B1;
    border-radius: 4px;
}
.prod__container-back{
    font-size: 14px;
    padding: 6px;
    border: none;
    color: #0F81B1;
    background-color: transparent;
}

/*    --- seguimiento ---    */

.seguimiento__container {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}